/* HOME */

a {
  margin: 1rem;
}

h1,
h2 {
  margin-bottom: 1rem;
}

h4 {
  margin: 2rem;
}

h3 {
  margin-bottom: 2rem;
}

.heading {
  margin-top: 2rem;
}

.heading h3 {
  text-align: center;
}

.card-container {
  margin: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.card {
  margin: 2rem;
}

.my-container {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.accordion {
  width: 50%;
  margin-top: 5rem;
}

.input-form {
  width: 40%;
  margin: auto;
  border: 2px solid black;

  margin-top: 7rem;
}

form,
.information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 2rem;
}

input {
  width: 50%;
}

/* CONTACT PAGE */
